@import "tailwindcss";
@import "@fontsource/monoton";
@import "@fontsource/exo";


@theme {
  --font-display: "Monoton", sans-serif;
  --font-exo: "Exo", sans-serif;

  --my-grid: repeat(12, minmax(0, 64px));

  --space-unit: 0.25rem;
  --space-s: 0.625rem;
  --space-m: 1.6875rem;
  --space-l: 3.4375rem;
  --space-xl: 16.625rem;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
}

@layer utilities {
  .container-grid {
    display: grid;
    grid-template-columns: var(--my-grid);
    gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  
  .col-span-12 {
    grid-column: span 12;
  }
  
  .col-span-6 {
    grid-column: span 6;
  }
  
  .col-span-4 {
    grid-column: span 4;
  }
  
  .col-span-3 {
    grid-column: span 3;
  }
  
  @media (max-width: 1023px) {
    .lg\:col-span-6 {
      grid-column: span 12;
    }
    .lg\:col-span-4 {
      grid-column: span 12;
    }
  }
  
  @media (min-width: 1024px) {
    .lg\:col-span-6 {
      grid-column: span 6;
    }
    .lg\:col-span-4 {
      grid-column: span 4;
    }
  }
}

@layer base {
  body {
    @apply text-base font-exo leading-normal;
  }
  h1 {
    @apply text-5xl font-display leading-tight lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-exo leading-tight font-bold;
  }
  h3 {
    @apply text-2xl font-exo leading-tight lg:text-4xl;
  }
}


.animate-dimlight {
  animation: dimlight 1.5s infinite;
}

.box-reflect {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
}


